{
  "extends": ["airbnb", "prettier/react", "plugin:prettier/recommended"],
  "rules": {
    "prefer-promise-reject-errors": "off",
    "import/extensions": "off",
    "react/prop-types": "off",
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": ["error", {
      "extensions": [
        ".js",
        ".jsx",
        ".ts",
        ".tsx"
      ]
    }]
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  }
}
