<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>NginxGui</title>
    <style>
    html, body, #root {
        height: 100%;
        overflow: hidden;
    }
    </style>
</head>
<body>
    <div id="root"></div>
    <script>
    const Electron = require('electron');
    const Path = require('path');
    const Process = require('child_process');
    const Fs = require('fs');
    const Shell = Electron.shell;
    </script>
</body>
</html>