.list {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 20px;
    padding-right:20px;
    padding-bottom: 20px;
    overflow: auto;
}

.button {
    position: fixed;
    right: 10px;
    bottom: 10px;
    overflow: hidden;
    input {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 40px;
        opacity: 0;
        z-index: 1;
        cursor: pointer;
    }
}

:global {
    .ant-dropdown {
        width:auto !important;
        min-width: auto !important;
        position: static !important;
        .ant-dropdown-menu {
            position: fixed !important;
        }
    }
}